body{
  font-family: sans-serif;
  text-align: center;
  margin: 50px;
  color : #000000;
}

#menu{
  background: #A9A9A9;
  margin: 0;
}

h1{
  text-transform: uppercase;
}

h3{
  background: #ffffff;
  padding: 8px;
  margin: 0;
}

table{
    margin: 50px auto;
    border-collapse: collapse;
    background-color: #DCDCDC;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 5px 5px 20px 0px #000000;
}

td, tr, th{
    padding: 10px 20px;
    text-align: left;
}

.titre{
    font-weight: bold;
}


input, select, textarea{
    font-family: sans-serif;
    font-size: inherit;
    width: 75%;
    padding: 12px 20px;
    margin: 10px ;
    border: 1px solid #808080;
    border-radius: 20px;
    outline: none;
}

input[type=submit]{
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
    cursor: pointer;
}

select{
    width: 90%;
}

input[type='radio']{
    width: auto;
    margin: 8px 10px;
}

.bouton{
    text-align: center;
}

input[type=submit]:hover, input[type=submit]:active{
    background-color: #696969;
    color: #ffffff;
}

img{
    margin : 5%;
}

a{
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

a:hover, a:active{
    color: #000000;
}

.onglet{
  font-weight: normal;
  color: #000000;
  text-decoration: none;
  padding: 8px;
  display: block;
  margin : -10px;
}

.onglet:hover, .onglet:active{
    font-weight: bold;
    background-color: #696969;
}
